.full-menu {
  @apply fixed top-0 left-0 z-50 h-screen w-screen overflow-y-auto bg-monarch py-4 overflow-x-hidden;
  /* Fix for mobile browser */
  height: -webkit-fill-available;

  .full-menu-button {
    @apply absolute;
    top: 1rem;
    right: 1rem;

    @screen md {
      @apply static;
    }
  }

  .icon-navigation {
    .navigation-item {
      @apply h-full leading-none flex items-center font-heading font-bold text-lg text-white border-white border-t-2;

      @screen md {
        @apply border text-2xl;
      }

      &:hover {
        @apply text-monarch bg-white;
      }

      .icon-container {
        min-height: 70px;
        @apply border-white border-r-2;

        @screen md {
          @apply border-none;
        }
      }
    }
  }

  .mobile-secondary-menu {
    @apply text-lg font-bold font-heading;

    .accordion-container {
      @apply border-white border-t-2;

      .title {
        @apply text-white flex-grow;

        a {
          @apply text-white block;
        }
      }

      .toggle-container {
        @apply flex-grow-0 border-white border-l-2 text-white w-1/5;
      }

      .title,
      .toggle-container {
        @apply p-2 flex items-center;
      }

      .vehicle-range-links {
        .title {
          @apply p-2 text-web-orange border-white border-t-2;
        }
      }

      ul.manufacturer-nav,
      ul.child-navigation {
        li {
          @apply p-2 bg-web-orange text-white border-white border-t-2;

          a {
            @apply block text-white;
          }
        }
      }
    }
  }

  ul.nav-column li {
    @apply mb-1 flex;

    &:before {
      content: "-";
      @apply text-web-orange inline-block mr-1;
    }

    > a {
      @apply text-white inline-block transition-all duration-500 ease-in-out;

      &:hover {
        @apply ml-2 text-web-orange;
      }
    }
  }

  .secondary-columns-container {
    .column-container {
      @apply border-white my-4;

      .title {
        @apply text-white text-2xl font-sans mb-4 transition-all duration-500 ease-in-out;

        > a {
          @apply text-white;

          &:hover {
            @apply text-web-orange;
          }
        }
      }
    }

    @screen md {
      .column-container {
        @apply border-r;

        &:last-child,
        &:nth-child(3n + 3) {
          @apply border-none;
        }
      }
    }

    @screen lg {
      .column-container {
        @apply border-r;

        &:nth-child(3n + 3) {
          @apply border-solid; // Undo previous screen size
        }

        &:last-child,
        &:nth-child(5n + 5) {
          @apply border-none;
        }
      }
    }
  }
}
