/node_modules
/public/hot
/public/storage
/public/js
/public/css
/public/translations
/public/mix-manifest.json
/storage/*.key
/storage/debugbar/*
/vendor
.env
.env.testing
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.vscode
/.idea
/coverage
/storage/media-library/*
.devcontainer/