@mixin section_header() {
    border-bottom: 1px solid #06354d;
    @include flex;
    margin: 0 0 45px 0;
}

@mixin section_header_title() {
    @include fontsize(30px);
    font-weight: 700;
    span {
        font-weight: 400;
        color: #03354e;
        display: block;
        @include fontsize(16px);
        text-transform: uppercase;
    }
}

@mixin fontsize($size) {
    $remSize: $size / 16px;
    font-size: $remSize + rem;
}

@mixin container() {
    max-width: 1640px;
    margin: 0 auto;
}

@mixin alt_container() {
    max-width: 1365px;
    margin: 0 auto;
}

@mixin row($margin) {
    @include flex;
    margin-left:  - $margin;
    margin-right: - $margin;
}

@mixin flex() {
    display: flex;
    flex-wrap: wrap;
}