// Tailwind has grid but not justify/align self config
.grid-auto-rows {
  grid-auto-rows: 1fr;
}

.grid-self-start {
  align-self: start;
}

.grid-self-end {
  align-self: end;
}

.grid-self-center {
  align-self: center;
}

.grid-self-stretch {
  align-self: stretch;
}

.grid-auto-rows-content {
  grid-auto-rows: minmax(min-content, max-content);
}

.toggleAction {
  transition-property: visibility, opacity;
  transition-duration: 0.6s, 0.6s;

  &.hidden {
    display: initial;
    opacity: 0;
    visibility: collapse;
    transition-property: opacity, visibility;
    transition-duration: 0.6s, 0.6s;
  }
}

.px-standard {
  @apply px-6;

  @screen xl {
    @apply px-12;
  }
}

.mix-blend-normal {
  mix-blend-mode: normal;
}

.mix-blend-multiply {
  mix-blend-mode: multiply;
}

.mix-blend-hard-light {
  mix-blend-mode: hard-light;
}

.mix-blend-difference {
  mix-blend-mode: difference;
}
