:root {
  --plyr-color-main: #a3082d;
}

/* Set the theme color of vue slider component */
$themeColor: #0065a3;

// Tailwind colours manually copied across
$alabaster: #f7f7f7;
$dove-gray: #686868;
$endeavour: #0065a3;
$gallery: #ebebeb;
$silver-gray: #8c8c8c;
$monarch: #850624;
$regal-blue: #004067;
$shiraz: #a3082d;
$tundora: #464646;
$web-orange: #ebaa00;
