.image-banner-slider {
  display: flex;
  min-height: 300px;

  @screen md {
    min-height: 400px;
  }

  h1 {
    font-size: 1.875rem;

    @screen md {
      font-size: 2.25rem;
    }

    @screen lg {
      font-size: 2.625rem;
    }
  }
}
