.manufacturer-slider-container {
  @apply p-4;
  background-image: linear-gradient(to top right, $regal-blue, $endeavour);

  .slider-container {
    @apply relative;

    .controls {
      @apply m-0 p-0 absolute left-0 list-none w-full flex items-center justify-between text-white;

      top: 50%;
      transform: translateY(-50%);

      &:focus {
        outline: none;
      }
    }
  }

  .manufacturer-slider {
    @apply flex justify-center;

    .slide {
      @apply p-4;
    }

    .manufacturer {
      @apply bg-white block flex items-center justify-center relative p-2 font-semibold text-regal-blue overflow-hidden;
      font-family: "Exo 2";
      min-width: 150px;
      min-height: 150px;

      .overlay {
        @apply absolute left-0 p-2 h-full w-full bg-white flex justify-center items-center;
        transition: top 0.5s ease-in-out;
        top: 100%;

        > img {
          @apply m-auto;
        }
      }

      &:hover {
        .overlay {
          @apply top-0;
        }
      }
    }
  }
}
