.slide-toggle {
  .toggle-content {
    display: none;
    height: 0;
    overflow: hidden;
    transition: height 350ms ease-in-out;

    &.is-visible {
      display: block;
      height: auto;
    }
  }
}
