#js-navigation-and-comparison-container {
    &.sticky {
        width: 100%;
        position: fixed;
        top: 0;
    }
}

#js-opening-times-container {
    &.sticky {
        position: fixed;
        width: 100%;
        bottom: 0;
        margin-bottom: 0;
    }
}