.featured-image-container {
  .content-box {
    @apply p-4 text-white w-full bg-endeavour overflow-x-hidden;

    @screen lg {
      @apply absolute w-1/2 bg-transparent;
      bottom: 3vw;
    }
  }

  @screen lg {
    .right-content-box {
      @apply right-0;
    }

    .left-content-box {
      @apply left-0;
    }
  }

  .right-content-box:before,
  .left-content-box:after {
    @apply block absolute top-0 h-full bg-endeavour;
    content: "";
    width: 150%;
    z-index: -1;
  }

  @screen lg {
    .right-content-box:before {
      transform: skewX(10deg);
      left: -10%;
    }

    .left-content-box:after {
      transform: skewX(-10deg);
      right: 0%;
    }
  }
}
