.search-by-berth {
  @apply p-2 bg-endeavour bg-center bg-cover;

  @screen md {
    background-size: cover;
    background-position: center;

    &.search-by-berth--both {
      background-image: url("/images/motorhomes-and-caravans-by-berth.jpg");
    }

    &.search-by-berth--caravan {
      background-image: url("/images/caravans-by-berth.jpg");
    }

    &.search-by-berth--motorhome {
      background-image: url("/images/motorhomes-by-berth.jpg");
    }
  }
}
