.homepage__banner {
  @apply bg-cover bg-center relative;
  height: calc(100vh / 1.8);

  h2 {
    @apply text-white text-4xl;
    text-shadow: 1px 1px 5px #000;
  }

  &__ctas {
    @apply absolute;
    left: 17%;
    top: 18%;
    width: 560px;

    div {
      @apply mt-6;

      button {
        @apply bg-shiraz px-8 py-1 text-2xl text-white rounded font-semibold;
        font-family: "Exo 2";

        &:hover {
          @apply bg-white text-shiraz;
        }
      }
    }
  }
}
