.homepage__ctas {
  .controls {
    top: 50%;
    transform: translatey(-50%);

    &:focus {
      outline: none;
    }
  }

  .cta {
    @apply px-1;

    @screen md {
      &:not(:first-child) {
        @apply border-l;
      }
    }

    .icon-container {
      @apply text-shiraz h-20 w-1/4 mx-auto;
    }

    .text-container {
      @apply mt-1 text-lg text-regal-blue text-center;
    }

    &:hover {
      .icon-container {
        @apply text-web-orange;
      }

      .text-container {
        @apply text-shiraz;
      }
    }
  }
}
