.stock-item-feature-wysiwyg {
  @apply mb-4;

  ul {
    @apply list-none;

    li {
      @apply flex items-center;

      &::before {
        @apply w-4 h-4 mr-1 flex-shrink-0;
        display: inline-block;
        content: "";
        background-image: url("../images/features-tick.svg");
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }

  // Styles largely copied from wysiwyg.scss
  ol {
    @apply list-decimal list-outside ml-4;
  }

  hr {
    @apply border-tundora;
  }

  h1,
  h2 {
    @apply text-regal-blue;
  }

  h3,
  h4,
  h5 {
    @apply text-endeavour;
  }

  a {
    @apply text-tundora;

    &:hover {
      @apply text-shiraz;
    }
  }
}

.stock-item-special-offer-slider {
  @apply relative;

  .control-previous, .control-next {
    @apply cursor-pointer px-1 flex flex-col justify-center items-center bg-gallery absolute z-10 w-10 h-10;
    top: 50%;
    transform: translateY(-50%);
  }

  .control-previous {
    left: 0;
  }

  .control-next {
    right: 0;
  }
}