.vehicle-range-main-image {
  .detail-container {
    @apply relative;

    @screen lg {
      @apply pt-64 pb-10;
    }

    .image-container {
      height: 200px;

      @screen md {
        height: 300px;
      }

      @screen lg {
        @apply h-auto z-10 absolute inset-0;
      }
    }

    .text-container {
      @apply z-20 relative flex justify-start;

      .content-box {
        @apply relative p-4 text-white w-full text-right overflow-x-hidden;

        &::before {
          @apply block absolute top-0 left-0 h-full bg-endeavour;
          content: "";
          width: 130%;
          z-index: -1;
        }

        @screen lg {
          @apply w-1/3 justify-end;
          &::before {
            transform: skewX(-20deg);
            left: -10%;
          }
        }
      }
    }
  }
}
