.admin-form-errors {
  @apply border p-3 bg-gray-100;

  p {
    @apply text-red-500;
  }
}

.admin-form {
  @apply w-full shadow-md rounded px-8 pt-6 pb-8 mb-4;

  ul {
    @apply list-disc pl-8;
  }
  ol {
    @apply list-decimal pl-8;
  }

  select {
    @apply shadow px-2 rounded;
  }

  .note-editor {
    .note-editing-area {
      .note-editable {
        h2,
        h3,
        h4,
        h5,
        h6 {
          @apply mb-3;
        }

        h2 {
          @apply text-3xl;
        }

        h3 {
          @apply text-2xl;
        }

        h4 {
          @apply text-xl;
        }

        a {
          @apply font-bold text-shiraz;
          &:hover {
            @apply underline;
          }
        }

        ul {
          @apply list-disc pl-8;
        }

        ol {
          @apply list-decimal pl-8;
        }
      }
    }
  }

  & > div {
    @apply my-4;
  }

  div {
    label {
      @apply block text-gray-700 text-sm font-bold mb-2;
    }

    input:not([type="checkbox"]):not([type="radio"]),
    select {
      @apply h-10 w-full border;
    }

    input.form-checkbox {
      height: auto;
      width: auto;
    }

    textarea {
      @apply w-full;
    }

    textarea,
    input:not([type="checkbox"]):not([type="radio"]) {
      @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight;

      &:focus {
        @apply outline-none shadow-outline;
      }
    }
  }
}
